---
# https://yamllint.readthedocs.io/en/stable/configuration.html

extends: default

rules:
  document-start: enable
  line-length: disable
  quoted-strings:
    quote-type: single
    required: only-when-needed
  braces: { min-spaces-inside: 0, max-spaces-inside: 1 }
  truthy: { allowed-values: ["false", "true", "on", "off"] }
